body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 856px;
  background-color: cornflowerblue;
}
.container h1 {
  color: #fff;
}
.calendar {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.calendar-header {
  padding: 10px;
  background: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar-current-year {
  font-size: 24px;
  font-weight: bold;
  padding: 0 20px;
}
.calendar-current-month {
  font-size: 24px;
  font-weight: bold;
  padding: 0 20px;
}
.calender-year,
.calendar-month {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fa-solid {
  font-size: x-large;
  cursor: pointer;
}
.go-to-today {
  display: block;
  color: #fff;
  cursor: pointer;
  background: orange;
  padding: 5px 10px;
  margin: 5px;
  text-align: center;
  font-size: x-large;
}
.calendar-body {
  padding: 10px;
  font-size: 20px;
}
.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
  text-align: end;
  font-weight: bold;
  padding: 7px 10px;
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  /* font-weight: bold; */
  padding: 5px 10px;
  /* border: 1px solid #007bff; */
}
.day {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.day.weekday {
  color: #333;
}
.day.sunday {
  color: red;
}
.day.saturday {
  color: blue;
}
.day.current {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}
.day.poya {
  background-color: green;
  color: white;
  /* font-weight: bold; */
  border-radius: 50%;
}
.day.holiday {
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}
.highlights-meaning {
  display: flex;
  justify-content: space-evenly;
}

.highlights-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-box {
  width: 15px;
  height: 15px;
  background: #007bff;
  margin-right: 5px;
  border-radius: 50%;
}
.poya-box {
  width: 15px;
  height: 15px;
  background: green;
  margin-right: 5px;
  border-radius: 50%;
}
.holiday-box {
  width: 15px;
  height: 15px;
  background: red;
  margin-right: 5px;
  border-radius: 50%;
}
